.titulo{
    background-color: black;
    color: white;
    padding: 30px;

}



.menu{
    
    padding: 30px 28px 50px 140px;
    float: left;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    }


    .container img {
        max-width:500px;
        width: auto;
    }

    .elementos{
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 20px 70px  30px 20px
        
       
    }